
h3{
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    margin-bottom: 0;
}

#navs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;


}