:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmaag: #ff17e4;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mano: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;

}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    background-color: var(--black);
}

section {
    color: white;
    background-color: var(--hotmaag);
}

h1,
h2,
h3 {
    margin: 0;
}

/*  link styling  */
a {
    color: var(--white);
}

a:hover {
    text-decoration: none;
    color: var(--aqua);
}

a:active {
    opacity: 1.5;
    color: var(--aqua);
}